/* Dark and Light Mode Color Schemes */
[data-color-scheme="dark"] {
  color-scheme: dark;
  --primary: #161616;
  --secondary: #ff0000;
    ::-webkit-scrollbar {
      width: 15px;
    }
    ::-webkit-scrollbar-thumb {
        background: #ff0000;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #161616;
    }
}

[data-color-scheme="light"] {
  color-scheme: light;
  --primary: #ffffff;
  --secondary: #161616;
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-thumb {
      background: #161616;
      border-radius: 10px;
  }
}

/* General Styles */
body {
  background-color: var(--primary);
  color: var(--secondary);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* NavBar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--primary);
  height: 100px;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  z-index: 1000;
}

header a {
  color: var(--secondary);
}

#hover-element {
  border: 1px solid var(--secondary);
  padding: 1rem;
}

nav > ul {
  display: flex;
  gap: 1rem;
}

/* Dark Mode Toggle */
#dark-mode-toggle {
    padding: 1rem;
    cursor: pointer;
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 1rem;
    border: var(--secondary) 1px solid;
}

/* Sidebar */
aside {
  height: calc(100vh - 100px);
  width: 300px;
  position: fixed;
  left: 0;
  top: 100px;
  overflow: auto;
  z-index: 100;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.5rem;
}

#categories > li {
  cursor: pointer;
}

#fav-container {
  display: grid;
  gap: 3rem;
  border-top: 1px solid var(--secondary);
  padding-top: 1rem;
}

#fav-container > li {
  font-size: 1.2rem;
}

/* Main Content */
main {
  padding-top: 100px;
  padding-left: 350px;
}

/* Hero Section */
#hero-container {
  position: relative;
  overflow-x: scroll;
  display: flex;
  gap: 5rem;
  padding: 2rem 0;
}

.hero-card {
  position: relative;
}

.img-container {
  position: relative;
}

.heart-icon {
  position: absolute;
  height: 15%;
  width: 15%;
  bottom: 10%;
  right: 5%;
  filter: drop-shadow(2px 0px 0px black) drop-shadow(-2px 0px 0px black)
    drop-shadow(0px 2px 0px black) drop-shadow(0px -2px 0px black);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
}

.heart-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.hero-title {
    color: #f9f9f9;
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width: 300px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 1rem 0 0 1rem;
  padding-left: 2rem;
  font-size: 3rem;
  z-index: 10;
}

.hero-image {
  margin-left: 150px;
  aspect-ratio: 16/9;
  height: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

/* Trending and Top Rated Sections */
#trending-container,
#top-rated-container {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}

.card-image {
  width: 200px;
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 1rem;
}

/* Footer */
footer {
  margin-top: 5rem;
  text-align: center;
}
